<div class="container">
    <div class="row"> 
        <center>
        <!-- <h3><a href="registration" target="_blank"> Registration for the BioC2022 conference is now open! </a></h3> -->
        <h3> The BioC2023 conference will take place in Boston, MA, Dana Farber Cancer Institute. You may attend in person or virtually.</h3>
        <h4>See <a href="information">Conference Information</a> for details.</h3>
        <h3>Registration is open. <a href="https://hopin.com/events/bioc2023" target="blank">Register here.</a></h3>
        <h4>New! Registration for the pre-conference two-day workshop "RNA-seq analysis with Bioconductor" is open, <a href="https://bioconductor.github.io/2023-07-31-BiocRnaseq-Bioc2023/" target="blank">Register here.</a></h4>
        <p class="text-primary text-large mb-small text-left">
            </b>.
        </p>
        </center>
    </div>
    <div class="row">
        <table style="width:100%">
            <tr>
                <th><h4>Mark your calendar</h4></th>
                <th>Tweets by <a href="https://twitter.com/Bioconductor" target="blank">@Bioconductor</a></th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li><b>February 3, 2023</b>: <a href="submissions">Call for abstracts opened.</a> </li>
                        <li><b>March 15, 2023</b>: Registration for the hybrid BioC2023 opens. <a href="https://hopin.com/events/bioc2023" target="blank">Register here!</a></th> </li>
                        <li><b>March 19, 2023</b>: Call for abstracts closed</li>
                        <!--<li><b>March 15, 2023</b>: <a href="registration" target="_blank">Registration</a> for the hybrid BioC2023 opens. </li>-->
                        <li><b>April 14, 2023</b>: Notification of abstract decision</li>
                        <li><b>May 31, 2023</b>: Early registration fee ends; in-person scholarship application closes</li>
                        <li><b>June 2-5, 2023</b>: Notification of scholarship awards</li>
                        <li><b>July 19, 2023</b>: In-person registration closes (virtual registration remains open)</li>
                        <li><b>July 31 - August 1, 2023</b>: Pre-conference workshop "RNA-seq analysis with Bioconductor", <a href="https://bioconductor.github.io/2023-07-31-BiocRnaseq-Bioc2023/" target="blank">more info</a></li>
                        <li><b>August 2-4, 2023</b>: The BioC2023 conference!</li>
                        <br>
                    </ul>
                </td>
                <td>
                    <a class="twitter-timeline" data-height="200" href="https://twitter.com/Bioconductor?ref_src=twsrc%5Etfw">Tweets by Bioconductor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </td>
            </tr>
        </table>

        </p>
</div>
</div>
